.buttons { 
    display:flex; 
    justify-content:flex-end; 
    /* justify-content: space-evenly; */
    align-items:center;  
    /* width: 40%; */
  }  

  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    max-height: 80%;
    overflow-y: auto;
    text-align: center;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #d32f2f;
  }
  