<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <figure>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRnODs-jlYK1XoYUNEkNv82xct6E2oVbj-M3fOu6JA-A&usqp=CAU&ec=48665701"
                        style="width: 300px; height: 200px;" class="image-container" alt="Approve loan image"
                        (click)="navigateToApplyLoanComponent()">
                    <figcaption>APPROVE LOANS</figcaption>
                </figure>
            </div>
